<p id="notice"><%= notice %></p>

<h1>Stag Prices</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Stagid</th>
      <th>Package</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stag_prices.each do |stag_price| %>
      <tr>
        <td><%= stag_price.name %></td>
        <td><%= stag_price.price %></td>
        <td><%= stag_price.stagID %></td>
        <td><%= stag_price.package %></td>
        <td><%= link_to 'Show', stag_price %></td>
        <td><%= link_to 'Edit', edit_stag_price_path(stag_price) %></td>
        <td><%= link_to 'Destroy', stag_price, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stag Price', new_stag_price_path %>
