<div class="m-b-md">
  <h3 class="m-b-none">Box Codes</h3>
</div>
 <section class="panel panel-primary">
    <header class="panel-heading">
      Lewis Stagnetto Ltd.
      <i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" data-title="ajax to load the data."></i>
    </header>
    <div class="table-responsive">

	 <table id="vendors" class="table m-b-none" data-ride="datatables" cellspacing="0" width="100%">
  <thead>
    <tr>
		<th><i class="vs vs-smoking-alt"></i></th>
		<th>Box Type</th>
		<th>Length</th>
		<th>Ring Gauge</th>
		<th>Count</th>
		<th>Box Codes</th>
		<th>Price</th>
		<th><i class="fa fa-usd"></i>/<i class="vs vs-smoking-alt"></i></th>
    </tr>
  </thead>
  <tbody>
    <% @bcodes.each do |bcode| %>
      <tr>
        <td><%= bcode.marca.titleize %> <i class="fa fa-minus"></i> <a href="#"> <%= bcode.size.titleize %></a></td>
        <td><span class="label label-info"><%= human_readable_box_type(bcode.package_type) %></span></td>
        <td><%= bcode.inch %>"</td>
        <td><%= bcode.ring_guage %> <small>rg</small></td>
        <td><%= bcode.bsize %> <% if bcode.bcount > 1 %> <i class="fa fa-times"></i> <%= bcode.bcount %> <% end %> <% if bcode.multiplier > 1 %> <i class="fa fa-times"></i> <%= bcode.multiplier %> <% end %></td>
	      <td><span class="label label-info"><%= bcode.bcode %></span></td>
	  	  <td>$<%= bcode.usd %></td>
        <td>$<%= bcode.cost_per_cigar %></td>
      </tr>
    <% end %>
   </tbody>
</table>
 </div>
  </section>
