<p id="notice"><%= notice %></p>

<h1>Ih Prices</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Package</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ih_prices.each do |ih_price| %>
      <tr>
        <td><%= ih_price.name %></td>
        <td><%= ih_price.price %></td>
        <td><%= ih_price.package %></td>
        <td><%= link_to 'Show', ih_price %></td>
        <td><%= link_to 'Edit', edit_ih_price_path(ih_price) %></td>
        <td><%= link_to 'Destroy', ih_price, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ih Price', new_ih_price_path %>
